
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-3">
            <div class="widget style1">
                <div class="row">
                    <div class="col-4 text-center">
                        <i class="fa fa-trophy fa-5x"></i>
                    </div>
                    <div class="col-8 text-right">
                        <span> Toplam Verilen Burs </span>
                        <h2 class="font-bold">$ 4,232</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-4">
                        <i class="fa fa-cloud fa-5x"></i>
                    </div>
                    <div class="col-8 text-right">
                        <span> Hava Durumu </span>
                        <h2 class="font-bold">26'C</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 lazur-bg">
                <div class="row">
                    <div class="col-4">
                        <i class="fa fa-envelope-o fa-5x"></i>
                    </div>
                    <div class="col-8 text-right">
                        <span> Yeni Mesaj </span>
                        <h2 class="font-bold">260</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 yellow-bg">
                <div class="row">
                    <div class="col-4">
                        <i class="fa fa-music fa-5x"></i>
                    </div>
                    <div class="col-8 text-right">
                        <span> New albums </span>
                        <h2 class="font-bold">12</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="widget navy-bg  yellow-bg">
                <div class="row">
                    <div class="p-m">
                        <h1 class="m-xs font-bold">137</h1>

                        <h3 class="font-bold no-margins">
                            Aktif Öğrenci
                        </h3>

                    </div>
                    <div class="col-lg-4">
                        <i class="fa fa-users fa-5x"></i>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="widget navy-bg  red-bg">
                <div class="row">
                    <div class="p-m">
                        <h1 class="m-xs font-bold">17</h1>

                        <h3 class="font-bold no-margins">
                            Burs Alan Öğrenci
                        </h3>

                    </div>
                    <div class="col-lg-4">
                        <i class="fa fa-users fa-5x"></i>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="widget navy-bg  purple-bg">
                <div class="row">
                    <div class="p-m">
                        <h1 class="m-xs font-bold">37</h1>

                        <h3 class="font-bold no-margins">
                            Bağışçı
                        </h3>

                    </div>
                    <div class="col-lg-4">
                        <i class="fa fa-users fa-5x"></i>
                    </div>

                </div>
            </div>
        </div>

     
           <div class="col-lg-12">
           <div class="col-lg-12 border-bottom"></div>
               <div class="col lg-6">
                   <h1 class="text-left">Onay Bekleyen Son 5 Kullanıcı</h1>
               </div>
            <div class="col-lg-12">
                <div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Ad Soyad</th>
                                <th>Aktif Et</th>
                                <th>Kullanıcıyı Sil</th>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-danger m-r-sm">12</button>
                                    Total messages
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary m-r-sm">28</button>
                                    Posts
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info m-r-sm">15</button>
                                    Comments
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-info m-r-sm">20</button>
                                    News
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success m-r-sm">40</button>
                                    Likes
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger m-r-sm">30</button>
                                    Notifications
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-warning m-r-sm">20</button>
                                    Albums
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default m-r-sm">40</button>
                                    Groups
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning m-r-sm">30</button>
                                    Permissions
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="widget style1 navy-bg">
                <div class="row vertical-align">
                    <div class="col-3">
                        <i class="fa fa-user fa-3x"></i>
                    </div>
                    <div class="col-9 text-right">
                        <h2 class="font-bold">217</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="widget style1 navy-bg">
                <div class="row vertical-align">
                    <div class="col-3">
                        <i class="fa fa-thumbs-up fa-3x"></i>
                    </div>
                    <div class="col-9 text-right">
                        <h2 class="font-bold">400</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="widget style1 navy-bg">
                <div class="row vertical-align">
                    <div class="col-3">
                        <i class="fa fa-rss fa-3x"></i>
                    </div>
                    <div class="col-9 text-right">
                        <h2 class="font-bold">10</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="widget style1 lazur-bg">
                <div class="row vertical-align">
                    <div class="col-3">
                        <i class="fa fa-phone fa-3x"></i>
                    </div>
                    <div class="col-9 text-right">
                        <h2 class="font-bold">120</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="widget style1 lazur-bg">
                <div class="row vertical-align">
                    <div class="col-3">
                        <i class="fa fa-euro fa-3x"></i>
                    </div>
                    <div class="col-9 text-right">
                        <h2 class="font-bold">462</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="widget style1 yellow-bg">
                <div class="row vertical-align">
                    <div class="col-3">
                        <i class="fa fa-shield fa-3x"></i>
                    </div>
                    <div class="col-9 text-right">
                        <h2 class="font-bold">610</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="widget-head-color-box navy-bg p-lg text-center">
                <div class="m-b-md">
                    <h2 class="font-bold no-margins">
                        Son Burs Alan Öğrenci
                    </h2>
                </div>
                <img src="~/admintemplate/img/a4.jpg" class="rounded-circle circle-border m-b-md" alt="profile">
                <div>
                    <span>100 Tweets</span> |
                    <span>350 Following</span> |
                    <span>610 Followers</span>
                </div>
            </div>
            <div class="widget-text-box">
                <h2 class="media-heading">Alex Smith</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                
            </div>
        </div>
        <div class="col-lg-2">
            <div class="widget navy-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-shield fa-4x"></i>
                    <h1 class="m-xs">456</h1>
                    <h3 class="font-bold no-margins">
                        Shield
                    </h3>
                    <small>power</small>
                </div>
            </div>
            <div class="widget  p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-flash fa-4x"></i>
                    <h1 class="m-xs">612</h1>
                    <h3 class="font-bold no-margins">
                        Thunder
                    </h3>
                    <small>amount</small>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="widget yellow-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-thumbs-up fa-4x"></i>
                    <h1 class="m-xs">520</h1>
                    <h3 class="font-bold no-margins">
                        Likes
                    </h3>
                    <small>amount</small>
                </div>
            </div>
            <div class="widget yellow-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-warning fa-4x"></i>
                    <h1 class="m-xs">Alarm</h1>
                    <h3 class="font-bold no-margins">
                        Do
                    </h3>
                    <small>something</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-t-lg">
        <div class="col-lg-6">
            <div class="ibox ">


            </div>
        </div>
        <div class="col-lg-6">
            <div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-danger m-r-sm">12</button>
                                Total messages
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary m-r-sm">28</button>
                                Posts
                            </td>
                            <td>
                                <button type="button" class="btn btn-info m-r-sm">15</button>
                                Comments
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-info m-r-sm">20</button>
                                News
                            </td>
                            <td>
                                <button type="button" class="btn btn-success m-r-sm">40</button>
                                Likes
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger m-r-sm">30</button>
                                Notifications
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-warning m-r-sm">20</button>
                                Albums
                            </td>
                            <td>
                                <button type="button" class="btn btn-default m-r-sm">40</button>
                                Groups
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning m-r-sm">30</button>
                                Permissions
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>