@model EntityLayer.Concrate.Student
@{
    ViewData["Title"] = "StudentProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container-xxl py-5 bg-primary hero-header">

    <div class="row g-5 py-5">
        <div class="col-12 text-center">

        </div>
    </div>

</div>
<div class="container-xxl py-5" style="margin-top:0px;">
    <div class="container py-5 px-lg-5">
        <div class="wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="text-center mb-5">Profil Sayfası</h1>
    

        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="wow fadeInUp" data-wow-delay="0.3s">


                    <form asp-action="StudentProfile" asp-controller="Student" method="post">
                        <p class="text-danger">
                            * Aşağıdaki tüm bilgileri eksiksiz şekilde güncellemediğiniz takdirde profiliniz bağışcılar tarafından görüntülenmeyecektir.<br />
                            * Lütfen burs alabilmek için aşağıdaki bilgilerinizi eksiksiz olarak güncelleyin.
                        </p>

                        <br />
                        <input type="hidden" asp-for="Image" />
                        
                            <div class="team-item bg-light rounded" >
                                
                                    <img class="img-fluid rounded-circle " src="/UserImages/@Model.Image" alt="">
                                 
                                
                                
                            </div>
                        

                        <input type="hidden" asp-for="CreateDate" name="CreateDate" />
                        <br />
                        <div class="row g-3">
                            @if (TempData["notification"] != null)
                            {
                                <script>
                                    swal("Tebrikler!", "Bilgileriniz Başarıyla Güncellendi. Profiliniz Bağışcılara Görünür Hale Geldi. ", "success");
                                </script>


                            }

                            <input type="hidden" asp-for="ID" />
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" asp-for="FirstName" class="form-control" id="name" name="FirstName" placeholder="Adınız">
                                    <label for="name">Adınız</label>
                                </div>
                                <span asp-validation-for="FirstName" class="text-danger"></span>

                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" asp-for="LastName" id="surname" name="LastName" placeholder="Soyadınız">
                                    <label for="surname">Soyadınız</label>
                                </div>
                                <span asp-validation-for="LastName" class="text-danger"></span>

                            </div>

                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" asp-for="Mail" id="email" name="Mail" placeholder="E-Posta Adresiniz">
                                    <label for="email">E-Posta</label>
                                </div>
                                <span asp-validation-for="Mail" class="text-danger"></span>

                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="tel" class="form-control" asp-for="Phone" id="email" name="Phone" placeholder="Telefon Numarası">
                                    <label for="email">Telefon Numarası</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="hidden" class="form-control" asp-for="Password" id="psw1" name="Password" placeholder="Şifreniz">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="date" class="form-control" asp-for="BirthDate" id="" name="BirthDate" placeholder="Doğum Tarihi">
                                    <label for="email">Doğum Tarihi</label>
                                </div>
                                <span asp-validation-for="BirthDate" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select asp-for="Gender" class="form-control" name="Gender" id="gender">

                                        <option value="">~ Cinsiyet Seçiniz ~</option>
                                        <option value="Erkek">Erkek</option>
                                        <option value="Kadın">Kadın</option>

                                    </select>

                                </div>
                                <span asp-validation-for="Gender" class="text-danger"></span>

                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" asp-for="IBAN" id="" name="IBAN" placeholder="IBAN NO">
                                    <label for="email">IBAN NO</label>

                                </div>
                                <span asp-validation-for="IBAN" class="text-danger"></span>

                            </div>
                            <div class="col-6">
                                <label>Şehir</label>
                                <div class="form-floating">

                                    <select asp-for="CityID" asp-items="@ViewBag.vlc" class="form-control" name="CityID">
                                        <option value="">~ Seçiniz ~</option>
                                    </select>
                                </div>
                                <span asp-validation-for="CityID" class="text-danger"></span>

                            </div>
                            <div class="col-6">
                                <label>Üniversite</label>
                                <div class="form-floating">

                                    <select asp-for="UniversityID" asp-items="@ViewBag.vlu" class="form-control" name="UniversityID">
                                        <option value="">~ Seçiniz ~</option>
                                    </select>
                                </div>
                                <span asp-validation-for="UniversityID" class="text-danger"></span>

                            </div>
                            <div class="col-6">
                                <label>Fakülte</label>
                                <div class="form-floating">

                                    <select asp-for="FacultyID" asp-items="@ViewBag.vlf" class="form-control" name="FacultyID">
                                        <option value="">~ Seçiniz ~</option>
                                    </select>
                                </div>
                                <span asp-validation-for="FacultyID" class="text-danger"></span>

                            </div>
                            <div class="col-6">
                                <label>Bölüm</label>
                                <div class="form-floating">

                                    <select asp-for="SectionID" asp-items="@ViewBag.vls" class="form-control" name="SectionID">
                                        <option value="">~ Seçiniz ~</option>
                                    </select>
                                </div>
                                <span asp-validation-for="SectionID" class="text-danger"></span>

                            </div>
                            <div class="col-md-6">
                                <label>Aile Evlilik Durumu</label>

                                <div class="form-floating">
                                    <select class="form-control" asp-for="FamilyMaritalStatus" name="FamilyMaritalStatus" id="">

                                        <option value="">~ Seçiniz ~</option>
                                        <option value="Evli">Anne Baba Evli</option>
                                        <option value="Boşanmış">Anne Baba Boşanmış </option>
                                        <option value="Vefat">Vefat Dolayısı İle Ayrı </option>

                                    </select>
                                </div>
                                <span asp-validation-for="FamilyMaritalStatus" class="text-danger"></span>

                            </div>
                            <div class="col-md-6">
                                <label>Aile Sağ/Vefat Durumu</label>
                                <div class="form-floating">
                                    <select class="form-control" asp-for="FamilyDeathStatus" name="FamilyDeathStatus" id="">

                                        <option value="">~ Seçiniz ~</option>
                                        <option value="İkiside Hayatta">Her İkiside Hayatta</option>
                                        <option value="Baba Ölü">Yalnız Anne Hayatta </option>
                                        <option value="Anne Ölü">Yalnız Baba Hayatta  </option>
                                        <option value="Her ikiside ölü">Her İkiside Vefat Etmiş </option>

                                    </select>
                                </div>
                                <span asp-validation-for="FamilyDeathStatus" class="text-danger"></span>

                            </div>
                            <div class="col-md-6">
                                <label>Aile Çalışma Durumu</label>
                                <div class="form-floating">
                                    <select class="form-control" asp-for="FamilyWorkStatus" name="FamilyWorkStatus" id="">

                                        <option value="">~ Seçiniz ~</option>
                                        <option value="İkiside Çalışıyor">Anne-Baba Çalışıyor</option>
                                        <option value="Anne Çalışıyor">Yalnız Anne Çalışıyor </option>
                                        <option value="Baba Çalışıyor">Yalnız Baba Çalışıyor  </option>
                                        <option value="Her ikiside çalışmıyor">Her İkiside Çalışmıyor </option>

                                    </select>
                                </div>
                                <span asp-validation-for="FamilyWorkStatus" class="text-danger"></span>

                            </div>
                            <div class="col-md-6">
                                <label>Fiziksel Engel Durumu</label>
                                <div class="form-floating">
                                    <select class="form-control" asp-for="PhyscialDisability" name="PhyscialDisability" id="">

                                        <option value="">~ Seçiniz ~</option>
                                        <option value="VAR">Fiziksel Engel VAR</option>
                                        <option value="YOK">Fiziksel Engel YOK</option>
                                    </select>
                                </div>
                                <span asp-validation-for="PhyscialDisability" class="text-danger"></span>

                            </div>



                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Profili Güncelle</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>


<script>
    window.onload = function () {
        document.getElementById("psw1").onchange = validatePassword;
        document.getElementById("psw2").onchange = validatePassword;
    }

    function validatePassword() {
        var pass2 = document.getElementById("psw2").value;
        var pass1 = document.getElementById("psw1").value;
        if (pass1 != pass2)
            document.getElementById("psw2").setCustomValidity("Şifreler Uyuşmuyor");
        else
            document.getElementById("psw2").setCustomValidity('');
        //empty string means no validation error
    }
</script>