
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Grantor - Türkiye'nin Tek Dijital Burs Platformu</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="~/scholarship/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/scholarship/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/scholarship/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/scholarship/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/scholarship/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/scholarship/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="m-0">Grantor</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0">
                        <a href="/Home/Index" class="nav-item nav-link">Anasayfa</a>
                        <a href="/Student/SelectedStudents" class="nav-item nav-link">Burs Alan Öğrencilerimiz</a>
                        <a href="/Gallery/Index" class="nav-item nav-link">Galeri</a>
                        <a href="/About/Index" class="nav-item nav-link">Hakkımızda</a>
                        <a href="/Contact/Index" class="nav-item nav-link">İletişim</a>
                        @if (User.IsInRole("Student"))
                        {
                            <a href="/Student/StudentProfile" class="nav-item nav-link">Profil</a>

                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="/User/UserSettings" class="nav-item nav-link">Ayarlar</a>

                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="/Login/LogOut" class="nav-item nav-link">Çıkış Yap</a>
                        }
                        else
                        {
                            <a href="/Login/LogIn" class="nav-item nav-link">Giriş Yap</a>

                        }
                    </div>

                    @if (User.IsInRole("Donor"))

                    {
                        <a href="/StudentFilter/Index" class="btn rounded-pill py-2 px-4 ms-3" style="background-color:orange;color:white"><i class="fa fa-search"></i> Öğrenci Ara </a>

                    }
                </div>
            </nav>

            @RenderBody();
        </div>
        <!-- Navbar & Hero End -->
        <!-- Footer Start -->
        <partial name="/Views/Shared/Partials/FooterPartial.cshtml" />
        <!-- Footer End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-secondary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/scholarship/lib/wow/wow.min.js"></script>
    <script src="~/scholarship/lib/easing/easing.min.js"></script>
    <script src="~/scholarship/lib/waypoints/waypoints.min.js"></script>
    <script src="~/scholarship/lib/counterup/counterup.min.js"></script>
    <script src="~/scholarship/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/scholarship/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/scholarship/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/scholarship/js/main.js"></script>
</body>

</html>



@RenderSection("myscript", false)
   
<!--===============================================================================================-->
<script src="~/userlogin/vendor/animsition/js/animsition.min.js"></script>
<script src="~/userlogin/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/userlogin/vendor/bootstrap/js/popper.js"></script>
<script src="~/userlogin/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/userlogin/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/userlogin/vendor/daterangepicker/moment.min.js"></script>
<script src="~/userlogin/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/userlogin/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="~/userlogin/js/main.js"></script>






