@model Grantor.Models.ViewModels.PasswordResetViewModel

@{
    ViewData["Title"] = "ResetPasswordConfirm";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<partial name="~/Views/Shared/Partials/LoginScriptPartial.cshtml" />
<div class="container-xxl py-5 bg-primary hero-header" style="margin-bottom:0px;">

    <div class="row g-5 py-5" style="margin-bottom:0px">
        <div class="col-12 text-center">

        </div>
    </div>

</div>

<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30" style="margin:auto;">

    @if (ViewBag.status == "successfull")
    {
        <div class="alert alert-success">
            Şifreniz başarıyla güncellenmiştir.Yeni şifreniz ile Giriş sayfasından sisteme giriş yapabilirsiniz.
        </div>
    }

    <form asp-action="ResetPasswordConfirm" class="login100-form validate-form" method="post">
        <span class="login100-form-title p-b-37">
            Şifre Yenile
        </span>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="wrap-input100 validate-input m-b-20" data-validate="Yeni şifrenizi girin">
            <div class="wrap-input100 validate-input m-b-20" data-validate="Yeni şifrenizi girin">
                <input class="input100" type="password" name="Password" placeholder="Yeni Şifre">
                <span asp-validation-for="Password" class="text-danger"></span>
                <span class="focus-input100"></span>
            </div>
        </div>
        <div class="container-login100-form-btn">
            <button class="login100-form-btn">
                Şifremi Yenile
            </button>
        </div>
    </form>

</div>
@section myscript{

}