
@{
    Layout = null;
}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/admintemplate/img/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Baki SARI</span>
                        <span class="text-muted text-xs block">Software Developer <b class="caret"></b></span>
                    </a>

                </div>
                <div class="logo-element">
                    GRRANTOR
                </div>
            </li>
            <li>
                <a href="/Admin/Dashboard"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span> <span class="fa arrow"></span></a>

            </li>

            <li>
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Üye Yönetimi</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/Admin/User/ActiveStudent">Aktif Öğrenciler</a></li>
                    <li><a href="/Admin/User/InActiveStudent">Onaysız Öğrenciler</a></li>
                    <li><a href="/Admin/User/Donors">Bağışcılar</a></li>

                </ul>
            </li>
            <li>
                <a href="/Admin/Message/InBox"><i class="fa fa-envelope"></i> <span class="nav-label">Mesajlar </span><span class="label label-warning float-right">16/24</span></a>

            </li>

            <li>
                <a href="/Admin/Admin"><i class="fa fa-delicious"></i> <span class="nav-label">Yönetici İşlemleri</span>  </a>
            </li>
            <li>
                <a href="/Admin/Faq"><i class="fa fa-bookmark"></i> <span class="nav-label">SSS</span>  </a>
            </li>
            <li>
                <a href="/Admin/Decont"><i class="fa fa-money"></i> <span class="nav-label">Ödeme Dekontları</span>  </a>
            </li>
            <li>
                <a href="/Admin/Comment"><i class="fa fa-comments"></i> <span class="nav-label">Yorumlar</span>  </a>
            </li>
            <li>
                <a href="/Admin/Adress"><i class="fa fa-paper-plane"></i> <span class="nav-label">İletişim Bilgileri</span>  </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Üniversite Tanımları</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">

                    <li><a href="/Admin/University">Üniversite İşlemleri</a></li>
                    <li><a href="/Admin/Faculty">Fakülte İşlemleri</a></li>
                    <li><a href="/Admin/Section">Bölüm İşlemleri</a></li>

                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-home"></i> <span class="nav-label">Siteye Git</span></a>
             
            </li>

            <li>
                <a href="/Admin/Gallery/Index"><i class="fa fa-picture-o"></i> <span class="nav-label">Galeri</span><span class="fa arrow"></span></a>
              
            </li>
            <li>
                <a href="metrics.html"><i class="fa fa-sign-out"></i> <span class="nav-label">Çıkış Yap</span>  </a>
            </li>
        </ul>

    </div>
</nav>