
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="container-xxl bg-primary hero-header">
    <div class="container px-lg-5">
        <div class="row g-5 align-items-end">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="text-white mb-4 animated slideInDown">Tüm Üniversite Öğrencilerine Burs Fırsatı!</h1>
                <p class="text-white pb-3 animated slideInDown">GRANTOR, BURS ARAYAN ÖĞRENCİLERİN VE BURS VERMEK İSTEYEN KİŞİ VE KURULUŞLARIN BULUŞTUĞU TÜRKİYE'NİN TEK DİGİTAL BURS PLATFORMUDUR. SİZ DE GRANTOR ÜYESİ OLUN,BURS VERMEK İÇİN SİZLERİ BEKLEYEN BİNLERCE KİŞİ VE KURULUŞ SİZİ SEÇSİN.</p>
                <a href="/StudentRegister/SignUp" class="btn btn-secondary py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft">Öğrenci Kayıt</a>
                <a href="/DonorRegister/Register" class="btn btn-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">Burs Veren Kayıt</a>
            </div>
            <div class="col-lg-6 text-center text-lg-start">
                <img class="img-fluid animated zoomIn" src="~/scholarship/img/hero.png" alt="">
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("Statistic") 
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5 px-lg-5">
        <p class="section-title text-secondary justify-content-center"><span></span>Yorumlar<span></span></p>
        <h1 class="text-center mb-5">Öğrencilerimiz Bizim Hakkımızda Neler Diyor</h1>
        <div class="owl-carousel testimonial-carousel">
            @await Component.InvokeAsync("CommentList")

        </div>
        @if (User.IsInRole("Student"))
        {
            <div class="col-md-4 offset-sm-4">
                <button class="btn btn-primary py-sm-3 px-sm-5 rounded-pill mt-3" style="background-color:orange" data-toggle="modal" data-target="#exampleModal">Yorum Yap</button>

            </div>
        }

        <partial name="~/Views/Shared/Partials/AddCommentPartial.cshtml" />
    </div>
</div>