@model Grantor.Models.ViewModels.DonorViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="container-xxl py-5 bg-primary hero-header">
    <div class="container my-5 py-5 px-lg-5">
        <div class="row g-5 py-5">
            <div class="col-12 text-center">
                <h1 class="text-white animated slideInDown">Kayıt</h1>
                <hr class="bg-white mx-auto mt-0" style="width: 90px;">

            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5" style="margin-top:0px;">
    <div class="container py-5 px-lg-5">
        <div class="wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="text-center mb-5">Bağışcı Kayıt Formu</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="wow fadeInUp" data-wow-delay="0.3s">
                    <form asp-action="Register">
                        <div class="row g-3">

                            @if (ViewBag.notification == true)
                            {
                                <script>
                                    swal("Tebrikler!", "Başarıyla Kayıt Oldunuz ", "success");
                                </script>


                            }
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>


                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" asp-for="Name" placeholder="Adınız /Kuruluş İsmi">
                                <label for="name">Ad-Soyad / Şirket İsmi</label>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                        <br />

                        <div class="col-12">
                            <div class="form-floating">
                                <input type="tel" class="form-control" asp-for="PhoneNumber" placeholder="Telefon Numaranız">
                                <label for="PhoneNumber">Telefon Numarası</label>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <br />

                        <div class="col-12">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" asp-for="EMail" placeholder="E-Posta Adresiniz">
                                <label for="EMail">E-Posta</label>
                                <span asp-validation-for="EMail" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="psw1" asp-for="Password" placeholder="Şifreniz">
                                <label for="psw1">Şifre</label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <br />

                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Kayıt Ol</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


