<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yorumunu Paylaş </h5>
               
            </div>
            <div class="modal-body">
                <form asp-action="AddComment" asp-controller="Comment" method="post">

                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Yorum:</label>
                        <textarea class="form-control" name="CommentValue" id="message-text"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                        <button type="submit" class="btn btn-primary">Yorum Yap</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>